@import '../../theme/utils/variables.scss';
  
.tps-videoView{
  background-color: #130e01d1; 
  height: 100%;
  overflow: hidden;
  position: relative;  
  .videoView-video{ 
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    height: 100%;
  } 
}
 