@import '../../theme/utils/variables.scss';

.pg-quiz{
  .quiz-container-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
  }
}

@media only screen and (max-width:$tablet-width) {  
  .pg-quiz{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .quiz-container-box{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .quiz-image {
        .imageView {
          height: 10rem;
        }
      }
    }
  }
}